In [1]:
import pandas as pd
import numpy as np

In [4]:
TbondRate_csv = "AC_30-year-treasury-bond-rate-yield-chart.csv"

In [5]:
TbondRate_df = pd.read_csv(TbondRate_csv)

In [6]:
TbondRate_df.head()

      date  value
0  2/15/77   7.70
1  2/16/77   7.67
2  2/17/77   7.67
3  2/18/77   7.76
4  2/22/77   7.77