In [1]:
import pandas as pd
import numpy as np

In [2]:
Alcohol_csv = "Alcohol_Consumption.csv"

In [3]:
Alcohol_df = pd.read_csv(Alcohol_csv)

In [4]:
Alcohol_df.head()

   Year  Beer  Wine  Spirits  All_beverages_in_Gallons
0  1934  0.61  0.07     0.29                      0.97
1  1935  0.68  0.09     0.43                      1.20
2  1936  0.79  0.12     0.59                      1.50
3  1937  0.82  0.13     0.64                      1.59
4  1938  0.75  0.13     0.59                      1.47