In [14]:
import pandas as pd
import numpy as np

In [15]:
HOR_csv = "HOR.csv"

In [16]:
HOR_df = pd.read_csv(HOR_csv)

In [13]:
# replacing party affiliation in power with number

replacements = {
  'Democrats': 0,
  'Republicans': 1,
  }
HOR_df ['HOR'].replace(replacements, inplace=True)

HOR_df.head()

   HOR  year
0    0  1965
1    0  1966
2    0  1967
3    0  1968
4    0  1969