In [1]:
import pandas as pd

In [6]:
dfIndex = pd.read_csv('index.csv')
dfIndex.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN

In [7]:
dfIndex2 = pd.read_csv('index 2.csv')
dfIndex2.head()

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN

In [8]:
interest_Rate = pd.concat([dfIndex, dfIndex2])
interest_Rate

,Year,Month,Day,Federal Funds Target Rate,Federal Funds Upper Target,Federal Funds Lower Target,Effective Federal Funds Rate,Real GDP (Percent Change),Unemployment Rate,Inflation Rate
0,1954,7,1,NaN,NaN,NaN,0.80,4.6,5.8,NaN
1,1954,8,1,NaN,NaN,NaN,1.22,NaN,6.0,NaN
2,1954,9,1,NaN,NaN,NaN,1.06,NaN,6.1,NaN
3,1954,10,1,NaN,NaN,NaN,0.85,8.0,5.7,NaN
4,1954,11,1,NaN,NaN,NaN,0.83,NaN,5.3,NaN
5,1954,12,1,NaN,NaN,NaN,1.28,NaN,5.0,NaN
6,1955,1,1,NaN,NaN,NaN,1.39,11.9,4.9,NaN
7,1955,2,1,NaN,NaN,NaN,1.29,NaN,4.7,NaN
8,1955,3,1,NaN,NaN,NaN,1.35,NaN,4.6,NaN
9,1955,4,1,NaN,NaN,NaN,1.43,6.7,4.7,NaN
10,1955,5,1,NaN,NaN,NaN,1.43,NaN,4.3,NaN
11,1955,6,1,NaN,NaN,NaN,1.64,NaN,4.2,NaN
12,1955,7,1,NaN,NaN,NaN,1.68,5.5,4.0,NaN
13,1955,8,1,NaN,NaN,NaN,1.96,NaN,4.2,NaN
14,1955,9,1,NaN,NaN,NaN,2.18,NaN,4.1,NaN
15,1955,10,1,NaN,NaN,NaN,2.24,2.4,4.3,NaN
16,1955,11,1,NaN,NaN,NaN,2.35,NaN,4.2,NaN
17,1955,12,1,NaN,NaN,NaN,2.48,NaN,4.2,NaN
18,1956,1,1,NaN,NaN,NaN,2.45,-1.5,4.0,NaN
19,1956,2,1,NaN,NaN,NaN,2.50,NaN,3.9,NaN
20,1956,3,1,NaN,NaN,NaN,2.50,NaN,4.2,NaN
21,1956,4,1,NaN,NaN,NaN,2.62,3.4,4.0,NaN
22,1956,5,1,NaN,NaN,NaN,2.75,NaN,4.3,NaN
23,1956,6,1,NaN,NaN,NaN,2.71,NaN,4.3,NaN
24,1956,7,1,NaN,NaN,NaN,2.75,-0.3,4.4,NaN
25,1956,8,1,NaN,NaN,NaN,2.73,NaN,4.1,NaN
26,1956,9,1,NaN,NaN,NaN,2.95,NaN,3.9,NaN
27,1956,10,1,NaN,NaN,NaN,2.96,6.7,3.9,NaN
28,1956,11,1,NaN,NaN,NaN,2.88,NaN,4.3,NaN
29,1956,12,1,NaN,NaN,NaN,2.94,NaN,4.2,NaN
...,...,...,...,...,...,...,...,...,...,...
874,2015,1,1,NaN,0.25,0.00,0.11,2.0,5.7,1.6
875,2015,2,1,NaN,0.25,0.00,0.11,NaN,5.5,1.7
876,2015,3,1,NaN,0.25,0.00,0.11,NaN,5.4,1.8
877,2015,4,1,NaN,0.25,0.00,0.12,2.6,5.4,1.8
878,2015,5,1,NaN,0.25,0.00,0.12,NaN,5.5,1.7
879,2015,6,1,NaN,0.25,0.00,0.13,NaN,5.3,1.8
880,2015,7,1,NaN,0.25,0.00,0.13,2.0,5.2,1.8
881,2015,8,1,NaN,0.25,0.00,0.14,NaN,5.1,1.8
882,2015,9,1,NaN,0.25,0.00,0.14,NaN,5.0,1.9
883,2015,10,1,NaN,0.25,0.00,0.12,0.9,5.0,1.9
884,2015,11,1,NaN,0.25,0.00,0.12,NaN,5.0,2.0
885,2015,12,1,NaN,0.25,0.00,0.24,NaN,5.0,2.1
886,2015,12,16,NaN,0.50,0.25,NaN,NaN,NaN,NaN
887,2016,1,1,NaN,0.50,0.25,0.34,0.8,4.9,2.2
888,2016,2,1,NaN,0.50,0.25,0.38,NaN,4.9,2.3
889,2016,3,1,NaN,0.50,0.25,0.36,NaN,5.0,2.2
890,2016,4,1,NaN,0.50,0.25,0.37,1.4,5.0,2.1
891,2016,5,1,NaN,0.50,0.25,0.37,NaN,4.7,2.2
892,2016,6,1,NaN,0.50,0.25,0.38,NaN,4.9,2.2
893,2016,7,1,NaN,0.50,0.25,0.39,3.5,4.9,2.2
894,2016,8,1,NaN,0.50,0.25,0.40,NaN,4.9,2.3
895,2016,9,1,NaN,0.50,0.25,0.40,NaN,4.9,2.2
896,2016,10,1,NaN,0.50,0.25,0.40,1.9,4.8,2.1
897,2016,11,1,NaN,0.50,0.25,0.41,NaN,4.6,2.1
898,2016,12,1,NaN,0.50,0.25,0.54,NaN,4.7,2.2
899,2016,12,14,NaN,0.75,0.50,NaN,NaN,NaN,NaN
900,2017,1,1,NaN,0.75,0.50,0.65,NaN,4.8,2.3
901,2017,2,1,NaN,0.75,0.50,0.66,NaN,4.7,2.2
902,2017,3,1,NaN,0.75,0.50,NaN,NaN,NaN,NaN
903,2017,3,16,NaN,1.00,0.75,NaN,NaN,NaN,NaN

In [9]:
interest_Rate.to_csv('interest_Rate.csv' , sep = ',')