In [1]:
# Import dependencies

%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.datasets import make_regression
from mpl_toolkits.mplot3d import Axes3D
from sklearn.linear_model import LinearRegression

In [17]:
# Clean version of House of Rep. with Dems=0 and Reps=1

dfHOR = pd.read_csv('cleanHOR.csv', index)col='year')
dfHOR.head()

SyntaxError: invalid syntax (<ipython-input-17-16bbf017c46c>, line 3)

In [18]:
# 30 year Treasury bond rate

dfTBond = pd.read_csv('clean_TbondRate.csv', index_col='year').groupby('year').mean()
dfTBond.head()

      TBondvalue
year
1980   11.272320
1981   13.445863
1982   12.762771
1983   11.175480
1984   12.409157

In [19]:
# Presidential party with Dems=0, Reps=1

dfPresident = pd.read_csv('clean_president.csv', index_col='year')
dfPresident.head()

          president  party
year
1980   Jimmy Carter      0
1981  Ronald Reagan      1
1982  Ronald Reagan      1
1983  Ronald Reagan      1
1984  Ronald Reagan      1

In [20]:
# Alcohol consumption in gallons per capita

dfAlcohol = pd.read_csv('cleanAlcohol.csv', index_col='year')
dfAlcohol.head()

      Beer  Wine  Spirits  All_beverages_in_Gallons
year
1980  1.37  0.34     1.04                      2.75
1981  1.39  0.35     1.02                      2.76
1982  1.38  0.36     0.98                      2.72
1983  1.37  0.36     0.96                      2.69
1984  1.35  0.37     0.94                      2.65

In [21]:
# Senate with Dems=0, Reps=1

dfSenate = pd.read_csv('Senate.csv', index_col='year')
dfSenate.head()

      Senate
year
1980       0
1981       1
1982       1
1983       1
1984       1

In [23]:
# Bread price avg and adjusted to real GDP

dfBread = pd.read_csv('Bread_prices.csv', index_col='Year')
dfBread = dfBread[['AvgCost','RealGDP']]
dfBread.head()

      AvgCost   RealGDP
Year
1980    0.509  1.160423
1981    0.525  1.095582
1982    0.532  1.045335
1983    0.542  1.023424
1984    0.541  0.987747

In [25]:
df1 = dfBread.merge(dfSenate,how='left',left_index=True, right_index=True)
df1.head()

      AvgCost   RealGDP  Senate
Year
1980    0.509  1.160423     0.0
1981    0.525  1.095582     1.0
1982    0.532  1.045335     1.0
1983    0.542  1.023424     1.0
1984    0.541  0.987747     1.0