In [4]:
import pandas as pd

In [7]:
# The path to our CSV file
president_csv = "AC_Presidential_Party.csv"


president_df = pd.read_csv(president_csv)

In [8]:
president_df.head()

   year             president       party
0  1949       Harry S. Truman  Democratic
1  1950       Harry S. Truman  Democratic
2  1951       Harry S. Truman  Democratic
3  1952       Harry S. Truman  Democratic
4  1953  Dwight D. Eisenhower  Republican

In [11]:
# replacing numbers with actual gender names

replacements = {
  'Democratic': 0,
  'Republican': 1,
  }
president_df ['party'].replace(replacements, inplace=True)

president_df.head()

   year             president  party
0  1949       Harry S. Truman      0
1  1950       Harry S. Truman      0
2  1951       Harry S. Truman      0
3  1952       Harry S. Truman      0
4  1953  Dwight D. Eisenhower      1