In [7]:
import pandas as pd
import numpy as np

In [8]:
senate_csv = "Senate.csv"

In [9]:
senate_df = pd.read_csv(senate_csv)

In [10]:
senate_df.head()

      Senate  year
0  Democrats  1965
1  Democrats  1966
2  Democrats  1967
3  Democrats  1968
4  Democrats  1969

In [11]:
# replacing party affiliation in power with number

replacements = {
  'Democrats': 0,
  'Republicans': 1,
  }
senate_df ['Senate'].replace(replacements, inplace=True)

senate_df.head()

   Senate  year
0       0  1965
1       0  1966
2       0  1967
3       0  1968
4       0  1969