In [1]:
import pandas as pd
import json
import os

filepath = os.path.join("representatives.json")
with open(filepath) as jsonfile:
    data_json = json.load(jsonfile)

In [2]:
data = data_json

In [3]:
datarow = {}
data_list = []
x = 0

while x < len(data[0]):
    first_name = data[0][x]['first_name']
    last_name = data[0][x]['last_name']
    middle_name = data[0][x]['middle_name']
    party = data[0][x]['terms'][0]['party']
    state = data[0][x]['terms'][0]['state']
    year_start = data[0][x]['terms'][0]['year_start']
    year_end = data[0][x]['terms'][0]['year_end']
    datarow = {'first_name':first_name, 'last_name':last_name, 'middle_name':middle_name, 'party':party, \
               'state':state, 'year_start':year_start, 'year_end':year_end}
    data_list.append(datarow)
    x += 1
 
df = pd.DataFrame(data_list)
df.head()

,first_name,last_name,middle_name,party,state,year_end,year_start
0,Fred,Aandahl,G.,Republican,ND,1953,1951
1,Watkins,Abbitt,Moorman,Democratic,VA,1973,1948
2,Joel,Abbot,,Democratic-Republican,GA,1825,1817
3,Amos,Abbott,,Whig,MA,1849,1843
4,Jo,Abbott,,Democratic,TX,1897,1887

In [4]:
df.to_csv("representatives.csv", index=False, header=True)

In [33]:
year = 1789
year_parties = []


while year < 2018:
    
    dem_count = 0
    rep_count = 0
    fed_count = 0
    whig_count = 0
    demrep_count = 0
    oth_count = 0
    x = 0
    while x < len(data[0]):
        party = data[0][x]['terms'][0]['party']
        year_start = data[0][x]['terms'][0]['year_start']
        if (year_start.find('-') > 0):
            year_start = year_start.split("-",1)[0]
        year_end = data[0][x]['terms'][0]['year_end']
        if (year_end.find('-') > 0):
            year_end = year_end.split("-",1)[0]
        #print(f"Party: {party}, Year: {year_start}, {year_end}")
        if (party == "Democratic" and int(year_start) <= year <= int(year_end)):
            dem_count += 1
        elif (party == "Republican" and int(year_start) <= year <= int(year_end)):
            rep_count += 1
        elif (party == "Federalist" and int(year_start) <= year <= int(year_end)):
            fed_count += 1
        elif (party == "Whig" and int(year_start) <= year <= int(year_end)):
            whig_count += 1
        elif (party == "Democratic-Republican" and int(year_start) <= year <= int(year_end)):
            demrep_count += 1
        elif (int(year_start) <= year <= int(year_end)):
            oth_count += 1
        x += 1   
    year_parties.append({'year':year, 'democrats':dem_count, 'republicans':rep_count, \
                         'federalist':fed_count, 'whig':whig_count, 'democratic-republicans':demrep_count, \
                         'others':oth_count})
 
    year += 1

In [34]:
df_years = pd.DataFrame(year_parties)
df_years

,democratic-republicans,democrats,federalist,others,republicans,whig,year
0,0,0,2,57,0,0,1789
1,0,0,2,64,0,0,1790
2,0,0,2,90,0,0,1791
3,0,0,2,66,0,0,1792
4,0,0,2,120,0,0,1793
5,0,0,1,99,0,0,1794
6,18,0,17,96,0,0,1795
7,20,0,22,1,0,0,1796
8,38,0,49,0,0,0,1797
9,33,0,41,0,0,0,1798
10,43,0,62,1,0,0,1799
11,36,0,50,2,0,0,1800
12,60,0,64,3,0,0,1801
13,50,0,36,1,0,0,1802
14,92,0,56,5,0,0,1803
15,87,0,38,3,0,0,1804
16,113,0,48,13,0,0,1805
17,95,0,28,10,0,0,1806
18,125,0,36,11,0,0,1807
19,104,0,27,5,0,0,1808
20,123,0,46,6,0,0,1809
21,87,0,45,3,0,0,1810
22,117,0,54,6,0,0,1811
23,89,0,34,5,0,0,1812
24,136,1,74,7,0,0,1813
25,102,1,62,7,0,0,1814
26,137,1,84,16,0,0,1815
27,100,0,57,12,0,0,1816
28,168,0,75,16,0,0,1817
29,122,0,37,9,0,0,1818
...,...,...,...,...,...,...,...
199,0,234,0,5,167,0,1988
200,0,247,0,5,181,0,1989
201,0,231,0,5,160,0,1990
202,0,249,0,6,179,0,1991
203,0,234,0,6,153,0,1992
204,0,281,0,7,198,0,1993
205,0,211,0,6,162,0,1994
206,0,218,0,8,224,0,1995
207,0,152,0,7,206,0,1996
208,0,185,0,7,230,0,1997
209,0,150,0,6,195,0,1998
210,0,167,0,6,209,0,1999
211,0,150,0,6,188,0,2000
212,0,156,0,5,214,0,2001
213,0,146,0,4,185,0,2002
214,0,158,0,4,204,0,2003
215,0,136,0,3,177,0,2004
216,0,141,0,3,188,0,2005
217,0,120,0,3,168,0,2006
218,0,144,0,3,170,0,2007
219,0,137,0,1,125,0,2008
220,0,160,0,2,130,0,2009
221,0,147,0,2,90,0,2010
222,0,148,0,2,124,0,2011
223,0,83,0,1,100,0,2012
224,0,84,0,1,103,0,2013
225,0,45,0,1,64,0,2014
226,0,47,0,1,64,0,2015
227,0,22,0,1,30,0,2016
228,0,19,0,1,29,0,2017

In [23]:
df.count()

first_name     10693
last_name      10693
middle_name    10693
party          10693
state          10693
year_end       10693
year_start     10693
dtype: int64