In [42]:
import pandas as pd
import json
import os

filepath = os.path.join("senators.json")
with open(filepath) as jsonfile:
    data_json = json.load(jsonfile)

In [43]:
data = data_json

In [44]:
datarow = {}
data_list = []
x = 0

while x < len(data[0]):
    first_name = data[0][x]['first_name']
    last_name = data[0][x]['last_name']
    middle_name = data[0][x]['middle_name']
    party = data[0][x]['terms'][0]['party']
    state = data[0][x]['terms'][0]['state']
    year_start = data[0][x]['terms'][0]['year_start']
    year_end = data[0][x]['terms'][0]['year_end']
    datarow = {'first_name':first_name, 'last_name':last_name, 'middle_name':middle_name, 'party':party, \
               'state':state, 'year_start':year_start, 'year_end':year_end}
    data_list.append(datarow)
    x += 1

df = pd.DataFrame(data_list)
df.head()

  first_name last_name middle_name       party state year_end year_start
0     Joseph    Abbott      Carter  Republican    NC     1872       1868
1      James    Abdnor              Republican    SD     1987       1981
2      Hazel      Abel              Republican    NE     1954       1954
3      James  Abourezk              Democratic    SD     1979       1973
4    Spencer   Abraham              Republican    MI     2001       1995

In [45]:
df.to_csv("senators.csv", index=False, header=True)

In [69]:
year = 1789
year_parties = []


while year < 2018:
    
    dem_count = 0
    rep_count = 0
    fed_count = 0
    whig_count = 0
    demrep_count = 0
    oth_count = 0
    x = 0
    while x < len(data[0]):
        party = data[0][x]['terms'][0]['party']
        year_start = data[0][x]['terms'][0]['year_start']
        if (year_start.find('-') > 0):
            year_start = year_start.split("-",1)[0]
        year_end = data[0][x]['terms'][0]['year_end']
        if (year_end.find('-') > 0):
            year_end = year_end.split("-",1)[0]
        #print(f"Party: {party}, Year: {int(year_start)}, {int(year_end)}")
        r = range(int(year_start),int(year_end))
        if (int(year_start) <= year <= int(year_end)):
            #print(f"Year: {year}, X Row: {x}")
            if (party == "Democratic"):
                dem_count += 1
            elif (party == "Republican"):
                rep_count += 1
            elif (party == "Federalist"):
                fed_count += 1
            elif (party == "Whig"):
                whig_count += 1
            elif (party == "Democratic-Republican"):
                demrep_count += 1
            else:
                oth_count += 1
        x += 1   
    year_parties.append({'year':year, 'democrats':dem_count, 'republicans':rep_count, \
                         'federalist':fed_count, 'whig':whig_count, 'democratic-republicans':demrep_count, \
                         'others':oth_count})
 
    year += 1

In [70]:
df_years = pd.DataFrame(year_parties)
df_years

,democratic-republicans,democrats,federalist,others,republicans,whig,year
0,6,0,18,0,0,0,1789
1,8,0,21,0,0,0,1790
2,10,0,22,0,0,0,1791
3,12,0,17,0,0,0,1792
4,14,0,22,0,0,0,1793
5,13,0,17,0,0,0,1794
6,11,0,24,0,0,0,1795
7,12,0,28,0,0,0,1796
8,14,0,23,0,0,0,1797
9,11,0,25,0,0,0,1798
10,11,0,24,0,0,0,1799
11,9,0,25,0,0,0,1800
12,17,0,24,0,0,0,1801
13,15,0,15,0,0,0,1802
14,22,0,16,0,0,0,1803
15,25,0,10,0,0,0,1804
16,28,0,9,0,0,0,1805
17,27,0,7,0,0,0,1806
18,33,0,8,0,0,0,1807
19,26,0,7,0,0,0,1808
20,33,0,8,0,0,0,1809
21,25,0,8,0,0,0,1810
22,26,0,8,0,0,0,1811
23,27,0,6,0,0,0,1812
24,34,0,10,0,0,0,1813
25,30,0,8,0,0,0,1814
26,30,0,8,0,0,0,1815
27,26,0,12,1,0,0,1816
28,31,0,13,1,0,0,1817
29,31,0,11,1,0,0,1818
...,...,...,...,...,...,...,...
199,0,51,0,0,40,0,1988
200,0,56,0,0,45,0,1989
201,0,53,0,0,38,0,1990
202,0,54,0,0,41,0,1991
203,0,56,0,0,36,0,1992
204,0,59,0,0,41,0,1993
205,0,50,0,0,38,0,1994
206,0,48,0,0,47,0,1995
207,0,42,0,0,45,0,1996
208,0,46,0,0,47,0,1997
209,0,38,0,0,41,0,1998
210,0,41,0,0,45,0,1999
211,0,38,0,0,40,0,2000
212,0,43,0,0,41,0,2001
213,0,38,0,1,36,0,2002
214,0,37,0,1,38,0,2003
215,0,35,0,0,34,0,2004
216,0,37,0,0,37,0,2005
217,0,31,0,0,35,0,2006
218,0,30,0,0,35,0,2007
219,0,28,0,0,26,0,2008
220,0,33,0,0,28,0,2009
221,0,30,0,0,19,0,2010
222,0,25,0,0,20,0,2011
223,0,20,0,0,12,0,2012
224,0,20,0,0,13,0,2013
225,0,14,0,0,6,0,2014
226,0,13,0,0,6,0,2015
227,0,3,0,0,3,0,2016
228,0,3,0,0,3,0,2017

In [49]:
df.count()

first_name     1875
last_name      1875
middle_name    1875
party          1875
state          1875
year_end       1875
year_start     1875
dtype: int64